.img-alineado {
    height: 255px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mi-navbar {
    height: 100px;
    font-size: 16px;
}
.mis-titulos {
    font-size: 28px;
    font-family: "Nunito", sans-serif;
    text-align: center;
    padding-top: 30px;
}
.mis-emprendimientos {
    max-width: 1400px;
    margin: 80px auto 0px;
    justify-content: center;
}
